@font-face {
    font-family: CooperBT;
    src: url(Cooper_BT_Font_Family/CooperMdBT-Regular.ttf);
}

@font-face {
    font-family: SipWealth;
    src: url(Sip\ Wealth_font-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
  background-color: white;
}

#sip-wealth-body {
    background-color: white;
}

.SIPfont {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

.WEALTHfont {
    font-family: 'Montserrat', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    transition: all 0.5s;
}

.header-wealth {
    background-color: rgb(5, 0, 40);
}

header .logo {
    height: 80px;
    margin: -30px 0;
}

.header-scroll {
    background-color: rgba(74, 37, 169, 255);
}

.logo img {
    width: auto;
    height: 100%;
}

#sip-logo {
    height: 105px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(74, 37, 169, 0.6);
  overflow-x: hidden;
  transition: width 0.5s;
  padding-top: 60px;
}

.sidenav-wealth {
    background-color: rgb(5, 0, 40);
}

.sidenav .open {
    width: 250px;
}

.sidenav-links {
    opacity: 0; /* Start with hidden links */
}

.sidenav.open .sidenav-links {
    opacity: 1; /* Fully visible when sidebar is open */
}

.sidenav-links.hidden {
    display: none; /* Class to immediately hide links */
}

.sidenav a {
  padding: 8px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: rgb(151,127,184);
}

.sidenav-wealth a:hover {
  color: #071e44;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 50px;
  margin-left: -30px;
}

.intro-2 {
    text-align: center;
    color: white;
}

.title-2 {
    font-size: 23px;
    border-bottom: solid 2px white;
    width: 600px;
    margin: auto;
    padding-bottom: 10px;
    margin-top: -10px;
}

.subtitle-2 {
    font-size: 15px;
    padding-top: 10px;
    margin-bottom: -5px;
}

.intro {
    margin-top: 100px;
    text-align: center;
    color: white;
}

.title {
    font-size: 35px;
    border-bottom: solid 2px white;
    width: 700px;
    margin: auto;
    padding-bottom: 10px;
}

.subtitle {
    font-size: 27px;
    padding-top: 10px;
}

.columns {
    float: left;
    width: 50%;
    height: 500px;
}

.logos-section {
    padding-bottom: 100px;
}

.logos-section:after {
    content: "";
    display: table;
    clear: both;
}

.logos-section-logo {
    display: block;
    height: 600px;
    margin: auto;
    transition: all 0.5s ease;
    margin-top: -100px;
    margin-bottom: 300px;
}

.invisible {
    visibility: hidden;
}

.shrink {
    height: 400px;
    transform: translateY(-150px);
    margin-top: 0;
    margin-bottom: 0;
}

.textblock {
    text-align: center;
    margin: -250px auto 60px auto;
    height: 180px;
    padding: 30px 20px;
    border-radius: 20px;
    line-height: 1.5;
    font-size: 28px;
    width: 700px;
}

.white {
    color: white;
}

.negrita {
    font-weight: bolder;
}

.mas-info {
    text-align: center;
}
/*
.butt-1 {
    font-size: 24px;
    font-weight: bolder;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;
    margin-top: 15px;
}

.butt-1:hover {
    color: rgb(151,127,184);
}

.butt-1:active {
    color: rgb(151,127,184);
    transform: translateY(4px);
}
*/
.butt-1 {
    position: relative;
    border-radius: 50px;
    padding: 18px 28px;
    border: solid 2px black;
    font-size: larger;
    font-weight: bolder;
    cursor: pointer;
    color: black;
    transition: all 0.3s ease-in-out;
    background-color: white;
    overflow: hidden;
    z-index: 1;
}

.butt-text {
    z-index: 100;
    transition: color 0.3s ease-in-out;
}

#button-1:hover {
    color: #4a25a9;
    border: solid 2px #4a25a9;
}

#button-2:hover {
    color: #071e44;
    border: solid 2px #071e44;
}

/* .butt-1:active {
  transform: translateY(4px);
  box-shadow: 0 0 0 2px rgb(5, 0, 40), 0 0.50em 0 0 rgb(7, 6, 12);
} */

/* .butt-1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom left;
    transition: all 0.3s;
    z-index: -1;
} */

/* #button-1::after {
    background-color: #4a25a9;
}

#button-2::after {
    background-color: #071e44;
}

.butt-1:hover::after {
    transform: scaleY(1);
} */

.sobre-nosotros {
    text-align: center;
    margin: 40px 450px 30px 450px;
    background-image: url("../img/nyc.jpg");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#sobre-wealth {
    margin-bottom: -600px;
}

.sobre-nosotros h1 {
    margin-bottom: 40px;
}

.big-cont {
    height: 300px;
    margin: auto;
    display: flex;
    text-align: center;
    margin-top: 100px;
}

.sm-cont {
    background-color: rgb(151,127,184);
    height: 275px;
    width: 25%;
    margin: 0px 4.17%;
    border-radius: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.sip-icons {
    margin-top: 20px;
    width: 25%;
    filter: brightness(0) invert(1);
}

.sm-cont h1 {
    margin-bottom: 20px;
}

.sectores {
    text-align: center;
    background: linear-gradient(to right, #4a25a9, rgb(30, 0, 75));
    height: 300px;
    width: 50%;
    margin: auto;
    margin-top: 40px;
    border-radius: 16px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.sectores h2 {
    padding-top: 10px;
}

.text-line {
    margin: auto;
    text-align: center;
    margin-top: 60px;
}

 @keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.logos {
    overflow: hidden;
    padding: 60px 0;
    white-space: nowrap;
    position: relative;
}

.logos-2 {
    background-color: #071e44;
}

.logos:before,
.logos:after {
    position: absolute;
    top: 140px;
    width: 250px;
    height: 100px;
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(30,0,75));
    
}

.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(30,0,75));
}

.logos-2:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #071e44);
    
}

.logos-2:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #071e44);
}

.logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
}

.logos-slide img {
    height: 50px;
    margin: 100px 40px;
    filter: brightness(0%) saturate(100%) invert(1);
}

.foot-text {
    text-align: center;
}

.foot-text h1 {
    font-weight: normal;
    font-size: medium;
    margin-top: 10px;
}

.main-footer {
    padding-right: 100px;
    padding-left: 100px;
}

.contactanos {
    color: white;
    font-size: 34px;
    margin-bottom: 100px;
}

.datos {
    color: rgb(151,127,184);
    font-size: 24px;
}

.contacto {
    width: 300px;
}

.correo {
    display: block;
}

.direccion {
    width: 300px;
    margin-left: 100px;
}

.datos > div {
    float: left;
}

.sipi {
    height: 400px;
    width: auto;
    float: right;
    margin-top: -180px;
}

.sip-butt {
    margin-top: 40px;
    text-align: center;
}

.sip-butt h1 {
    font-size: large;
    font-weight: normal;
}

.SIP {
    background: linear-gradient(to right, #4a25a9, rgb(30, 0, 75));
    border-radius: 10px;
    padding: 8px 50px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: none;
    font-size: xx-large;
    font-weight: bolder;
    color: white;
    margin-top: 40px;
    margin-bottom: 40px;
    cursor: pointer;
}

.SIP:hover {
    background: linear-gradient(to left, #4a25a9, rgb(30, 0, 75));
}

.SIP:active {
    background: linear-gradient(to left, #4a25a9, rgb(30, 0, 75));
    transform: translateY(4px);
}

.portada-sip {
    text-align: center;
    margin-top: -70px;
    padding-bottom: 80px;
}

.sip-logo-w {
    height: 1000px;
    margin-bottom: -170px;
    transition: height 0.5s ease;
}

.sip-shrink {
    height: 680px;
}

.portada-texto {
    width: 700px;
    margin: auto;
    font-size: 25px;
    color: rgb(151,127,184);
}

.quiero-saber-mas {
    width: 300px;
    height: 50px;
    font-size: 20px;
    color: white;
    background-color: transparent;
    border: solid 2px white;
    cursor: pointer;
    float: right;
    margin-top: 20px;
    margin-right: 300px;
    transition-duration: 0.4s;
    border-radius: 4px;
}

.quiero-saber-mas:hover {
    background-color: white;
    color: #4a25a9;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.quiero-saber-mas:active {
    background-color: white;
    color: #4a25a9;
    transform: translateY(4px);
}

.sobre-nosotros {
    width: 100%;
    margin: 70px 0;
}

.title-sobre {
    border: solid 2px lightgray;
    width: 400px;
    margin-left: 60%;
    height: 100px;
    font-size: 40px;
    line-height: 100px;
    color: white;
    border-radius: 12px;
    margin-bottom: 50px;
}

.texto-sobre-nosotros {
    width: 600px;
    margin: auto;
    font-size: 23px;
    color: white;
    font-weight: 2px;
    line-height: 40px;
}

.moradito {
    color: rgb(151,127,184);
}

.title-servicios {
    font-size: 40px;
    color: #4a25a9;
    margin-bottom: 40px;
    font-weight: bold;
}

.servicios-body-2 {
    margin-top: 150px;
    margin-bottom: 400px;
    text-align: center;
}

.por-que-sip {
    width: 60%;
    margin: 700px auto 150px auto;
    border-radius: 24px;
    background-color: rgb(151,127,184);
}

.por-sip-full-texto {
    width: 60%;
    float: left;
}

.por-sip-title {
    font-size: 40px;
    color: rgb(30, 0, 75);
    padding: 20px;
}

.por-wealth-title {
    color: rgb(5, 0, 40);
}

.por-sip-texto {
    color: white;
    font-size: 17px;
    padding-left: 20px;
    line-height: 30px;
}

.por-sip-sub {
    padding: 20px;
}

.por-sip-img {
    float: left;
    width: 40%;
    border-radius: 24px;
}

hr {
    border: solid 1px white;
    margin-left: -20px;
    width: 45%;
}

.por-que-sip::after {
  content: "";
  clear: both;
  display: table;
}

.listo-title {
    font-size: 40px;
    color: white;
    width: 30%;
    margin-left: 180px;
    margin-bottom: 50px;
}

.hover-container {
    position: relative; /* Positioning context for child elements */
    display: inline-flex;
    align-items: center;
}

.hover-title {
    font-size: 40px; /* Adjust font size as needed */
    cursor: pointer; /* Indicate that this is interactive */
    transition: transform 0.5s ease; /* Smooth transition for movement */
    margin-left: 550px;
    color: white;
}

.hover-text {
    opacity: 0; /* Initially hidden */
    transform: translateX(20px); /* Start slightly to the right of its final position */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth transition for opacity and horizontal position */
    margin-left: 10px; /* Space between the line of text and the paragraph */
    padding: 10px; /* Padding for the paragraph */
    white-space: normal; /* Allow wrapping of text */
    width: 450px;
    color: white;
    border-left: solid 2px white;
}

/* Hover Effects */
.hover-container:hover .hover-title {
    transform: translateX(-250px); /* Move the text to the left on hover */
    background-size: cover;
    color: white;
    -moz-background-clip: text;
    -webkit-background-clip: text;
}

.hover-container:hover .hover-text {
    opacity: 1; /* Show paragraph */
    transform: translateX(-250px); /* Slide into place */
}

.listo-cont {
    width: 30%;
    margin: auto;
}

.listo-bloq {
    background-color: rgb(151,127,184);
    border-radius: 24px;
    padding: 20px;
    margin-bottom: 40px;
    color: white;
}

.listo-sub {
    font-size: 24px;
    margin-bottom: 10px;
}

.listo-sip {
    margin-bottom: -40px;
}

.disclaimer {
    text-align: center;
    color: white;
    margin: 0 auto 0 auto;
    width: 90%;
}

.disc-wealth {
    background-color: #071e44;
    padding-bottom: 20px;
}

.disclaimer-title {
    font-size: 10px;
    margin-bottom: 10px;
}

.disclaimer-text {
    font-size: 7px;
    line-height: 10px;
}

.servicios-wealth {
    margin-bottom: 0;
    margin-top: 0;
}

.diferencia {
    color: black;
    text-align: center;
}

.dif-title {
    font-size: 40px;
    width: fit-content;
    margin-left: 50%;
    margin-bottom: 50px;
    color: #071e44;
}

.dif-text-intro {
    font-size: 24px;
    width: 40%;
    float: left;
    margin-left: 20%;
    margin-right: 40px;
    margin-top: 40px;
}

.dif-img {
    width: 20%;
    float: left;
}

.dif-cont::after {
  content: "";
  clear: both;
  display: table;
}

footer {
    width: 100%;
    position: relative;
    bottom: 0;
    background: linear-gradient(to top, #4a25a9, transparent);
    color: black;
    padding: 100px 0 30px;
    font-size: 13px;
    line-height: 20px;
}

.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    flex-basis: 28%;
    padding: 10px;
}

.col-sip {
    font-size: 26px;
}

.col-2 {
    font-size: 20px;
    margin-bottom: 5px;
}

.footlinks {
    font-size: 20px;
}

.footlogo {
    width: 200px;
    margin: auto;
}

.col h3 {
    width: fit-content;
    margin-top: 30px;
    margin-bottom: 40px;
    position: relative;
    font-size: 24px;
    border-bottom: solid 2px black;
}

.col h4 {
    font-size: 20px;
}

.email {
    width: fit-content;
    border-bottom: 1px solid black;
    margin: 20px 0;
    font-size: 20px;
}

.footlinks li {
    list-style: none;
    margin-bottom: 12px;
}

.footlinks li a {
    text-decoration: none;
    color: black;
} 

.footlinks li a:hover {
    border-bottom: solid 2px black;
}

.body-2-container {
    width: 80%;
    margin: auto;
}

.body-2 {
    float: left;
    width: 33%;
    height: 250px;
}

.servicios-body-2::after {
    content: "";
  clear: both;
  display: table;
}

.body-2 .logo {
  position: relative;
  top: 20%;
  height: 100px;
  width: 100px;
  margin: 0 auto 0;
  background: rgb(5, 0, 40);
  border-radius: 50%;
  text-align: center;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
}

.body-2 .logo img {
  margin-left: 5px;
  font-family: "Cabin", "sans-serif";
  font-weight: 600;
  color: #fff;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
}

.body-2 .logo .initial {
  -webkit-transform: translateZ(0);
  transition: all 0.5s .8s ease;
  text-shadow: 0px 0px 0 #59A07E, 1px 1px 0 #59A07E, 2px 2px 0 #59A07E, 3px 3px 0 #59A07E, 4px 4px 0 #59A07E, 5px 5px 0 #59A07E, 6px 6px 0 #59A07E, 7px 7px 0 #59A07E, 8px 8px 0 #59A07E, 9px 9px 0 #59A07E, 10px 10px 0 #59A07E, 11px 11px 0 #59A07E, 12px 12px 0 #59A07E, 13px 13px 0 #59A07E, 14px 14px 0 #59A07E, 15px 15px 0 #59A07E, 16px 16px 0 #59A07E, 17px 17px 0 #59A07E, 18px 18px 0 #59A07E, 19px 19px 0 #59A07E, 20px 20px 0 #59A07E, 21px 21px 0 #59A07E, 22px 22px 0 #59A07E, 23px 23px 0 #59A07E, 24px 24px 0 #59A07E, 25px 25px 0 #59A07E, 26px 26px 0 #59A07E, 27px 27px 0 #59A07E, 28px 28px 0 #59A07E, 29px 29px 0 #59A07E, 30px 30px 0 #59A07E, 31px 31px 0 transparent;
}

.front-title {
    font-size: 30px;
    margin-bottom: -40px;
    color: white;
}

/* Rules for the cards  */
/* Credit: http://davidwalsh.name/css-flip */
/* entire container, keeps perspective */
.wrapper, .card-front, .card-back {
  width: 300px;
  height: 320px;
  border-radius: 28px;
}

.wrapper {
  margin: 20px auto;
  perspective: 1000;
}

/* Flip the pane when hovered */
.wrapper:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

/* Flip speed and styling. */
.flipper {
  position: relative;
  transition: 0.8s;
  transform-style: preserve-3d;
}

/* Hide back of pane during swap */
.card-front, .card-back {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  backface-visibility: hidden;
  text-align: center;
  box-sizing: border-box;
}

/* Front pane, placed above back */
.card-front {
  z-index: 2;
  background: rgba(151,127,184,0.6);
}

/* back, initially hidden pane */
.card-back {
  transform: rotateY(180deg);
  color: #fff;
  line-height: 30px;
  font-size: 18px;
}

#card-back-1 {
    background: url("../img/background1.jpg");
}

#card-back-2 {
    background: url("../img/background2.jpg");
}

#card-back-3 {
    background: url("../img/background3.jpg");
}

.oval {
  position: relative;
  top: 30%;
  margin: auto;
  width: 55px;
  height: 25px;
  background: #2F2D2C;
  -moz-border-radius: 60px / 25px;
  -webkit-border-radius: 60px / 25px;
  border-radius: 55px / 25px;
  animation: shadow 2s infinite;
  -webkit-animation: shadow 2s infinite;
}

@-webkit-keyframes bounce {
  0% {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  50% {
    margin-top: 22px;
    margin-bottom: 3px;
  }
  100% {
    margin-top: 15px;
    margin-bottom: 10px;
  }
}
@keyframes bounce {
  0% {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  50% {
    margin-top: 22px;
    margin-bottom: 3px;
  }
  100% {
    margin-top: 15px;
    margin-bottom: 10px;
  }
}
@-webkit-keyframes shadow {
  0% {
    padding: 1px;
    opacity: 0.10;
  }
  50% {
    padding: 3px;
    opacity: 0.18;
  }
  100% {
    padding: 1px;
    opacity: 0.10;
  }
}
@keyframes shadow {
  0% {
    padding: 1px;
    opacity: 0.10;
  }
  50% {
    padding: 3px;
    opacity: 0.18;
  }
  100% {
    padding: 1px;
    opacity: 0.10;
  }
}

body .page {
  margin: 0 auto;
  width: 1400px;
  background-color: rgb(30, 0, 75);

}
body .content {
  width: 33.33%;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  height: 100vh;
  max-width: 460px;
}
body .circle_inner__layer {
  width: 600px;
  height: 200px;
  transition: all 0.4s;
  position: absolute;
  left: -200px;
}
body .circle_inner__layer img {
  width: 100%;
  position: absolute;
  bottom: 0;
}
body .circle {
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  margin: auto;
  width: 200px;
  transform: translateY(-50%);
  transition: all 0.5s;
  cursor: pointer;
}
body .circle:hover .circle_shine {
  top: 330px;
  left: -200px;
}
body .circle_shine {
  background: white;
  width: 600px;
  transition: 0.3s;
  height: 200px;
  opacity: 0.2;
  top: -10px;
  left: -90px;
  transform: rotate(45deg);
  position: absolute;
  z-index: 2;
}
body .circle:hover h2, body .circle:hover h3 {
  opacity: 1;
  top: -36px;
}
body .circle:hover .content_shadow {
  transform: scale(1.1);
  top: -22px;
}
body .circle:hover h3 {
  transition: all 0.2s 0.04s;
}
body .circle:hover h2 {
  transition: all 0.2s;
}
body .circle .circle_inner__layer:nth-of-type(1) {
  top: 0px;
  left: 0px;
}
body .circle .circle_inner__layer:nth-of-type(2) {
  top: 0px;
  left: -210px;
}
body .circle .circle_inner__layer:nth-of-type(3) {
  top: 0px;
  left: -440px;
}
body .circle_title {
  text-align: center;
}
body .circle_title h2,
body .circle_title h3 {
  opacity: 0;
  color: rgb(151,127,184);
  margin: 0;
  transition: all 0.2s 0.04s;
  position: relative;
  top: -10px;
}
body .circle_title h3 {
  transition: all 0.2s;
  color: white;
  font-size: 18px;
}
body .circle_inner {
  border-radius: 200px;
  background: #b0d5d6;
  overflow: hidden;
  margin: auto;
  width: 200px;
  z-index: 1;
  transition: all 0.3s;
  height: 200px;
  position: relative;
}

#circle-1 {
    background: url(../img/snap-img.jpg);
    background-size: 200px 200px;
}
#circle-1:hover {
    background: url(../img/snap.gif);
    background-size: 200px 200px;
}
#circle-2 {
    background: url(../img/lightbulb-img.jpg);
    background-size: 200px 200px;
}
#circle-2:hover {
    background: url(../img/lightbulb.gif);
    background-size: 200px 200px;
}
#circle-3 {
    background: url(../img/handshake-img.jpg);
    background-size: 200px 200px;
}
#circle-3:hover {
    background: url(../img/handshake.gif);
    background-size: 200px 200px;
}

body .circle_inner:hover {
  transform: scale(1.1);
}
body .circle_inner:hover .circle_inner__layer:nth-of-type(1) {
  left: -80px;
  transition: all 4s linear;
}
body .circle_inner:hover .circle_inner__layer:nth-of-type(2) {
  left: -400px;
  transition: all 4s linear;
}
body .circle_inner:hover .circle_inner__layer:nth-of-type(3) {
  left: -140px;
  transition: all 4s linear;
}
body .content_shadow {
  width: 200px;
  box-shadow: 0px 31px 19px -2px #e0e8f9;
  height: 20px;
  border-radius: 70%;
  position: relative;
  top: -44px;
  transition: all 0.3s;
  z-index: 0;
}

.circle_title h2 {
    font-size: 40px;
}

.full-intro {
    background-image: url("../img/city.svg");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.purple-filter {
    padding-top: 20px;
    background-color: rgba(74,37,169,0.5);
}

#bottom-dif {
    margin-top: -500px;
    margin-bottom: 200px;
}

#top-dif {
    margin-top: 20px;
}

.front-title-2 {
    font-size: 30px;
    margin-bottom: -40px;
    color: #071e44;
    animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
}

/* Rules for the cards  */
/* Credit: http://davidwalsh.name/css-flip */
/* entire container, keeps perspective */
.wrapper-2, .card-front-2, .card-back-2 {
  width: 300px;
  height: 200px;
  border-radius: 28px;
}

.wrapper-2 {
  margin: 20px auto;
  perspective: 1000;
}

/* Flip the pane when hovered */
.wrapper-2:hover .flipper-2, .flip-container-2.hover .flipper-2 {
  transform: rotateY(180deg);
}

/* Flip speed and styling. */
.flipper-2 {
  position: relative;
  transition: 0.8s;
  transform-style: preserve-3d;
}

/* Hide back of pane during swap */
.card-front-2, .card-back-2 {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  backface-visibility: hidden;
  text-align: center;
  box-sizing: border-box;
}

/* Front pane, placed above back */
.card-front-2 {
  z-index: 2;
  background: rgba(151,127,184,0.6);
}

/* back, initially hidden pane */
.card-back-2 {
  transform: rotateY(180deg);
  color: #fff;
  line-height: 30px;
  font-size: 22px;

}

#card-back-1-2 {
    background: url("../img/asesoria.jpg");
}

#card-back-2-2 {
    background: url("../img/acompañamiento.jpg");
}

#card-back-3-2 {
    background: url("../img/transparencia.avif");
}

#card-back-1-3 {
    background: url("../img/recomendaciones.jpg");
}

#card-back-2-3 {
    background: url("../img/asesores.jpg");
}

#card-back-3-3 {
    background: url("../img/impulso.jpg");
}

.oval-2 {
  position: relative;
  top: 20%;
  margin: auto;
  width: 55px;
  height: 25px;
  background: #2F2D2C;
  -moz-border-radius: 60px / 25px;
  -webkit-border-radius: 60px / 25px;
  border-radius: 55px / 25px;
  animation: shadow 2s infinite;
  -webkit-animation: shadow 2s infinite;
}

.servicios-container {
    height: 500px;
    position: relative;
}

.servicios-square {
  height: 400px;
  width: 400px;
  margin: auto;
  transform: scale(1);
  transform-origin: 50% 100%;
  transform-style: preserve-3d;
  transition: all 2s ease;
  background: none;
  z-index: 1;
  margin-left: 550px;
}

.square-text {
    color: rgb(30, 0, 75);
    font-size: 90px;
    z-index: 2;
    position: absolute;
    text-align: center;
    width: 400px;
    margin: -400px auto auto auto;
}

.servicios-container:hover .servicios-square {
  transform: scale(0.75) rotateY(-30deg) rotateX(70deg) translateZ(20rem) translateX(20rem);
  transition: all 2s ease;
}
.servicios-square::before {
  content: "";
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 2s ease;
}
.servicios-square::after {
    content: "";
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 102%;
    height: 102%;
    transition: all 2s ease;
}

.servicios-square::before {
  transform: translateZ(5rem);
  border: 5px solid rgb(151,127,184);
  transition: all 2s ease;
}
.servicios-square::after {
  transform: translateZ(-5rem);
  background: rgb(151,127,184);
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.25);
  position: absolute;
  transition: all 2s ease;
}

.square-desc-container {
    width: 500px;
    color: white;
    font-size: 18px;
    line-height: 26px;
    float: left;
    z-index: 2;
    margin-top: -340px;
    margin-left: 250px;
    transition: opacity ease 0.5s;
    text-align: right;
}

.square-desc {
    margin-bottom: 50px;
}

.square-desc-container {
    opacity: 0;
}

.servicios-container:hover .square-desc-container {
    opacity: 1;
}

.cuadritos {
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    transition: all 2s ease;
    transform: translateZ(-10rem);
    background: rgb(151,127,184);
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.25);
    position: absolute;
    margin-left: 550px;
}

.servicios-container:hover .cuadritos {
  transform: scale(0.75) rotateY(-30deg) rotateX(70deg) translateZ(-5rem) translateX(23rem);
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.25);
  transition: all 2s ease;
}

.cuadritos-2 {
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    transition: all 2s ease;
    transform: translateZ(-10rem);
    background: rgb(151,127,184);
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.25);
    position: absolute;
    margin-left: 550px;
}

.servicios-container:hover .cuadritos-2 {
  transform: scale(0.75) rotateY(-30deg) rotateX(70deg) translateZ(-10rem) translateX(23rem);
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.25);
  transition: all 2s ease;
}

#por-que-texto {
    margin-top: -400px;
}

.title-por-que {
    margin-top: -200px;
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
    font-size: 60px;
    color: white;
}

.timeline {
    margin: 0;
    padding: 50px 0 200px 0;
    background-color: white;
}

.timeline-title {
    position: relative;
    margin-bottom: 200px;
    font-size: 42px;
    font-weight: 600;
    margin-left: 40px;
}

.timeline-sip {
    color: #4a25a9;
    font-weight: 800;
}

.timeline ul {
    margin-top: 30px;
    display: flex;
    list-style: none;
    padding: 0 50px 0 50px;
    justify-content: center;
    align-items: center;
}

.timeline li {
    position: relative;
}

.timeline li p {
    transform: translateY(-10px);
    opacity: 0;
    padding: 0 40px;
    transition: 1.5s;
    text-align: center;
    color: black;
    font-size: 20px;
}

.date {
    opacity: 0;
    transition: 1.5s;
    font-size: 32px;
    position: absolute;
    top: -110px;
    color: #4a25a9;
    font-weight: bolder;
}

#date-1 {
    left: 40%;
}

#date-2 {
    left: 33%;
}

#date-3 {
    left: 36%;
}

.timeline-point {
    border: none;
    position: absolute;
    border-radius: 50%;
    background: rgb(228, 228, 228);
    width: 15px;
    height: 15px;
    top: -40px;
    left: 50%;
    transition: 1.5s ease;
}

.timeline-line{
    background: rgb(228, 228, 228);
    width: 100%;
    height: 4px;
    border-radius: 12px;
    position: relative;
}

.timeline-innerline {
    position: absolute;
    background: #4a25a9;
    width: 0%;
    height: 4px;
    top: 0%;
    left: 0%;
    transition: 1s linear;
    border-radius: 999px;
}

.process-line {
    position: relative;
    height: 680px;
    margin-bottom: 100px;
    text-align: center;
}

.process-line::-webkit-scrollbar {
    width: 40px;
    background: red;
}

.section-line {
    height: 100%;
    width: 5px;
    background-color: white;
    position: absolute;
    left: 50%;
}

.section-line-2 {
    height: 100%;
    width: 5px;
    background-color: rgb(151,127,184);
    position: absolute;
    left: 50%;
    view-timeline-name: --lineScale;
    animation-timeline: --lineScale;
    animation-name: scale;
    animation-duration: 1ms;
    transform-origin: top;
    animation-range: 10% 85%;
    transform: scaleY(0);
}

@keyframes scale {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}

.como-rect {
    background-color: white;
    width: 500px;
    padding: 20px;
    text-align: center;
    position: absolute;
    border-radius: 25px;
}

.left {
    left: 10%;
}

.left-1 {
    top: -90px;
}

.right-1 {
    top: 140px;
}

.left-2 {
    top: 400px;
}

.right-2 {
    top: 580px;
}

.right {
    left: 57%;
}

.como-title {
    position: relative;
    margin-bottom: 200px;
    font-size: 42px;
    font-weight: 600;
    margin-left: 40px;
    color: white;
}

.como-sub {
    color: rgb(151,127,184);
    font-size: 28px;
    font-weight: bold;
}

.como-text {
    color: black;
    font-size: 22px;
    margin-top: 20px;
}

.como-icon {
    border: none;
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: white;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -22px;
}

#icon-1 {
    background-image: url(../img/data.png);
}

#icon-2 {
    background-image: url(../img/sketch.png);
    top: 240px;
}

#icon-3 {
    background-image: url(../img/follow.png);
    top: 460px;
}

#icon-4 {
    background-image: url(../img/check-list.png);
    top: 660px;
}

.process-line li {
    text-align: center;
}

.diferentes-container {
    height: 500px;
    position: relative;
}

.dif-square {
  height: 400px;
  width: 400px;
  margin: auto;
  transform: scale(1);
  transform-origin: 50% 100%;
  transform-style: preserve-3d;
  transition: all 2s ease;
  background: none;
  z-index: 1;
  margin-left: 550px;
}

.dif-text {
    color: rgb(30, 0, 75);
    font-size: 90px;
    z-index: 2;
    position: absolute;
    text-align: center;
    width: 400px;
    margin: -400px auto auto auto;
}

.diferentes-container:hover .dif-square {
  transform: scale(0.75) rotateY(-30deg) rotateX(70deg) translateZ(20rem) translateX(20rem);
  transition: all 2s ease;
}
.dif-square::before {
  content: "";
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 2s ease;
}
.dif-square::after {
    content: "";
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 102%;
    height: 102%;
    transition: all 2s ease;
}

.dif-square::before {
  transform: translateZ(5rem);
  border: 5px solid rgb(151,127,184);
  transition: all 2s ease;
}
.dif-square::after {
  transform: translateZ(-5rem);
  background: rgb(151,127,184);
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.25);
  position: absolute;
  transition: all 2s ease;
}

.square-dif-container {
    width: 500px;
    color: white;
    font-size: 18px;
    line-height: 26px;
    float: left;
    z-index: 2;
    margin-top: -340px;
    margin-left: 250px;
    transition: opacity ease 0.5s;
    text-align: right;
}

.dif-desc {
    margin-bottom: 50px;
}

.square-dif-container {
    opacity: 0;
}

.diferentes-container:hover .square-dif-container {
    opacity: 1;
}

.dif {
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    transition: all 2s ease;
    transform: translateZ(-10rem);
    background: rgb(151,127,184);
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.25);
    position: absolute;
    margin-left: 550px;
}

.diferentes-container:hover .dif {
  transform: scale(0.75) rotateY(-30deg) rotateX(70deg) translateZ(-5rem) translateX(23rem);
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.25);
  transition: all 2s ease;
}

.dif-2 {
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    transition: all 2s ease;
    transform: translateZ(-10rem);
    background: rgb(151,127,184);
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.25);
    position: absolute;
    margin-left: 550px;
}

.diferentes-container:hover .dif-2 {
  transform: scale(0.75) rotateY(-30deg) rotateX(70deg) translateZ(-10rem) translateX(23rem);
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.25);
  transition: all 2s ease;
}

#diferentes-texto {
    margin-top: -400px;
}

.title-diferentes {
    position: relative;
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
    font-size: 60px;
    color: white;
}

#cube-container {
    width: 240px;
    height: 240px;
    margin: 200px auto;
    perspective: 400px;
}

#cube-container::before {
    content: '';
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 75px 20px rgba(0, 0, 0, 0.1), inset 0 0 350px 350px rgba(0, 0, 0, 0.1);
    transform: rotateX(95deg) translateZ(-80px) scale(1);
    animation: rotateShadow 16s infinite;
}

.cube {
    height: 100%;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.8s ease-in-out;
    animation: rotate 16s infinite;
}

.side-1, .side-2, .side-3, .side-4 {
    position: absolute;
    width: 240px;
    height: 240px;
    backface-visibility: hidden;
    text-align: center;
    color: black;
    border: solid 2px black;
    font-size: 24px;
    line-height: 30px;
    padding: 20px;
}

.cube-title {
    font-weight: bold;
}

.cube div:nth-child(1) {
    transform: rotateY(0deg) translateZ(120px);
}
.cube div:nth-child(2) {
    transform: rotateY(90deg) translateZ(120px);
}
.cube div:nth-child(3) {
    transform: rotateY(-90deg) translateZ(120px);
}
.cube div:nth-child(4) {
    transform: rotateY(180deg) translateZ(120px);
}

@keyframes rotate {
    0% { transform: rotateY(0deg);}
    25% { transform: rotateY(90deg);}
    50% { transform: rotateY(180deg);}
    75% { transform: rotateY(270deg);}
    100% { transform: rotateY(360deg);}
}

@keyframes rotateShadow {
    0% { transform: rotateX(95deg) translateZ(-80px) scale(1) rotateZ(360deg);}
    25% { transform: rotateX(95deg) translateZ(-80px) scale(1) rotateZ(270deg);}
    50% { transform: rotateX(95deg) translateZ(-80px) scale(1) rotateZ(180deg);}
    75% { transform: rotateX(95deg) translateZ(-80px) scale(1) rotateZ(90deg);}
    100% { transform: rotateX(95deg) translateZ(-80px) scale(1) rotateZ(0deg);}
}

.side-1 {
    background-color: white;
}
.side-2 {
    background-color: white;
}
.side-3 {
    background-color: white;
}
.side-4 {
    background-color: white;
}

.serv-cont {
    margin-bottom: 200px;
    text-align: center;
}
.serv-rect {
    border: solid 2px #4a25a9;
    border-radius: 20px;
    width: 500px;
    padding: 30px;
    vertical-align: top;
    text-align: center;
    display: inline-block;
    margin: 20px;
}
.serv-icon {
    background-color: #4a25a9;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    text-align: center;
    margin: auto;
    margin-top: -60px;
}
.serv-img {
    width: 35px;
    height: auto;
    margin-top: 10px;
}
.serv-icon-borders {
    width: 70px;
    margin: auto;
    background-color: white;
}
.serv-title {
    color: #4a25a9;
    font-size: 25px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}
.serv-desc {
    color: black;
    font-size: 18px;
    line-height: 25px;
}

.title-servicios-wealth {
    font-size: 40px;
    color: #071e44;
    margin-bottom: 40px;
    font-weight: bold;
}
.serv-cont-wealth {
    margin-bottom: 200px;
    text-align: center;
}
.serv-rect-wealth {
    border: solid 2px #071e44;
    border-radius: 20px;
    width: 500px;
    padding: 30px;
    vertical-align: top;
    text-align: center;
    display: inline-block;
    margin: 20px;
}
.serv-icon-wealth {
    background-color: #071e44;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    text-align: center;
    margin: auto;
    margin-top: -60px;
}
.serv-img-wealth {
    width: 35px;
    height: auto;
    margin-top: 10px;
}
.serv-icon-borders-wealth {
    width: 70px;
    margin: auto;
    background-color: white;
}
.serv-title-wealth {
    color: #071e44;
    font-size: 25px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}
.serv-desc-wealth {
    color: black;
    font-size: 18px;
    line-height: 25px;
}
