/*Animations*/
@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes scale {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: translate(0, 2rem);
    }
    100% {
        opacity: 1;
        transform: translate(0,0);
    }
}

/*General styling*/

@font-face {
    font-family: CooperBT;
    src: url(Cooper_BT_Font_Family/CooperMdBT-Regular.ttf);
}

@font-face {
    font-family: SipWealth;
    src: url(Sip\ Wealth_font-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat';
}

body {
  background-color: white;
}

.in-view {
    animation: fade 3s both;
}

.not-in-view {
    opacity: 0;
}

/*Header*/

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    transition: all 0.5s;
}
.sip-header {
    background-color: #4a25a9;
}
.header-scroll {
    background-color: #4a25a9;
}
header .logo {
    height: 5rem;
    margin: -1rem 0;
}
.logo img {
    width: auto;
    height: 100%;
}

/*Sidenav*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #4a25a9;
  overflow-x: hidden;
  transition: width 0.5s;
  padding-top: 60px;
}
.sidenav .open {
    width: 250px;
}
.sidenav-links {
    opacity: 0; /* Start with hidden links */
}
.sidenav.open .sidenav-links {
    opacity: 1; /* Fully visible when sidebar is open */
}
.sidenav-links.hidden {
    display: none; /* Class to immediately hide links */
}
.sidenav a {
  padding: 8px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #071e44;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 50px;
  margin-left: -30px;
}

/*Header SIP*/

#sip-three-lines {
    color: white;
}
#sip-logo {
    height: 105px;
}

/*Header WEALTH*/

.wealth-header {
    background-color: #071e44;
}
.sidenav-wealth {
    background-color: #071e44;
}

/*Sidenav WEALTH*/

.sidenav-wealth a:hover {
  color: #4a25a9;
}

/*Title Index*/

.intro-2 {
    text-align: center;
    color: white;
}
.title-2 {
    font-size: 23px;
    border-bottom: solid 2px white;
    width: 600px;
    margin: auto;
    padding-bottom: 10px;
    margin-top: -10px;
}
.subtitle-2 {
    font-size: 15px;
    padding-top: 10px;
    margin-bottom: -5px;
}
.intro {
    margin-top: 100px;
    text-align: center;
    color: white;
}
.title {
    font-size: 35px;
    border-bottom: solid 2px white;
    width: 700px;
    margin: auto;
    padding-bottom: 10px;
}
.subtitle {
    font-size: 27px;
    padding-top: 10px;
}
.invisible {
    visibility: hidden;
}

/*Portada Index*/

.columns {
    float: left;
    width: 50%;
    height: 500px;
}
.logos-section {
    padding-bottom: 100px;
}
.logos-section:after {
    content: "";
    display: table;
    clear: both;
}
.logos-section-logo {
    display: block;
    height: 600px;
    margin: auto;
    transition: all 0.5s ease;
    margin-top: -100px;
    margin-bottom: 1000px;
}
.shrink {
    height: 400px;
    transform: translateY(-150px);
    margin-top: 0;
    margin-bottom: 0;
}
.textblock {
    text-align: center;
    margin: -250px auto 60px auto;
    height: 180px;
    padding: 30px 20px;
    border-radius: 20px;
    line-height: 1.5;
    font-size: 28px;
    width: 700px;
}
.white {
    color: white;
}
.mas-info {
    text-align: center;
}
.butt-1 {
    position: relative;
    border-radius: 50px;
    padding: 18px 28px;
    border: solid 2px rgb(64,64,64);
    font-size: larger;
    font-weight: bolder;
    cursor: pointer;
    color: rgb(64,64,64);
    transition: all 0.3s ease-in-out;
    background-color: white;
    overflow: hidden;
    z-index: 1;
}
.butt-text {
    z-index: 100;
    transition: color 0.3s ease-in-out;
}
#button-1:hover {
    background-color: #4a25a9;
    border: solid 2px white;
    color: white;
}
#button-2:hover {
    background-color: #071e44;
    border: solid 2px white;
    color: white;
}
.full-intro {
    background-image: url("../img/city.svg");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.purple-filter {
    height: 100vh;
    padding-top: 20px;
    background-color: rgba(74,37,169,0.5);
}

/*Sobre Nosotros*/

.sobre-nosotros {
    text-align: center;
    margin: 40px 450px 30px 450px;
    /*
    background-image: url("../img/finance.svg");

     Create the parallax scrolling effect 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    */
}
.sobre-nosotros h1 {
    margin-bottom: 40px;
}
.sobre-nosotros {
    width: 100%;
    margin: 0;
}
.purple-filter-sip {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: rgba(74,37,169,0.1);
}
.purple-filter-wealth {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: rgba(7,30,68,0.1);
}
.title-sobre {
    border: solid 3px rgb(64,64,64);
    width: 400px;
    margin-left: 60%;
    height: 100px;
    font-size: 40px;
    line-height: 100px;
    color: rgb(64,64,64);
    border-radius: 12px;
    margin-bottom: 50px;
    font-weight: 700;
}
.texto-sobre-nosotros {
    width: 600px;
    margin: auto;
    font-size: 23px;
    color: rgb(64,64,64);
    line-height: 40px;
    font-weight: 600;
}
.moradito {
    color: #4a25a9;
    font-size: 26px;
    font-weight: 800;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
.azulito {
    color: #071e44;
    font-size: 26px;
    font-weight: 800;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

/*Logos Carrousel*/

.logos-container {
    background-color: rgba(74, 37, 169, 0.1);
    position: relative;
}
.logos {
    overflow: hidden;
    padding: 30px 0;
    white-space: nowrap;
    position: relative;
    background-color: #4a25a9;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    height: 300px;
}
.logos-2 {
    background-color: #071e44;
}
.logos:before,
.logos:after {
    position: absolute;
    top: 110px;
    width: 250px;
    height: 100px;
    content: "";
    z-index: 2;
}
.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #4a25a9);
}
.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #4a25a9);
}
.logos-2:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #071e44);
    
}
.logos-2:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #071e44);
}
.logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
}
.logos-slide img {
    height: 50px;
    margin: 100px 40px;
    filter: brightness(0%) saturate(100%) invert(1);
}

/*Portada SIP*/

.portada-sip {
    text-align: center;
    margin-top: -70px;
    padding-bottom: 80px;
    background-color: #4a25a9;
}
.sip-logo-w {
    height: 1000px;
    margin-bottom: 1000px;
    transition: all 0.5s ease;
}
.sip-shrink {
    height: 680px;
    margin-bottom: -170px;
}
.portada-texto {
    width: 700px;
    margin: auto;
    font-size: 25px;
    color: white;
    margin-top: 70px;
}

/*Portada WEALTH*/

.portada-wealth {
    text-align: center;
    margin-top: -70px;
    padding-bottom: 80px;
    background-color: #071e44;
}

/*Servicios*/

.title-servicios {
    font-size: 40px;
    color: #4a25a9;
    margin-bottom: 60px;
    margin-top: 80px;
    margin-left: 10%;
    font-weight: bold;
    border: solid 3px #4a25a9;
    width: 400px;
    height: 100px;
    line-height: 100px;
    border-radius: 12px;
    text-align: center;
}
.serv-cont {
    margin-bottom: 100px;
    text-align: center;
}
.serv-rect {
    border: solid 2px #4a25a9;
    border-radius: 20px;
    width: 500px;
    height: 250px;
    padding: 30px;
    vertical-align: top;
    text-align: center;
    display: inline-block;
    margin: 20px;
}
.serv-icon {
    background-color: #4a25a9;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    text-align: center;
    margin: auto;
    margin-top: -60px;
}
.serv-img {
    width: 35px;
    height: auto;
    margin-top: 10px;
}
.serv-icon-borders {
    width: 70px;
    margin: auto;
    background-color: white;
}
.serv-title {
    color: #4a25a9;
    font-size: large;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}
.serv-desc {
    color: rgb(64,64,64);
    font-size: medium;
    line-height: 25px;
}

/*Servicios WEALTH*/

.title-servicios-wealth {
    font-size: 40px;
    color: #071e44;
    margin-bottom: 60px;
    margin-top: 80px;
    margin-left: 60%;
    font-weight: bold;
    border: solid 3px #071e44;
    width: 400px;
    height: 100px;
    line-height: 100px;
    border-radius: 12px;
    text-align: center;
}
.serv-cont-wealth {
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
}
.serv-rect-wealth {
    border: solid 2px #071e44;
    border-radius: 20px;
    width: 500px;
    padding: 30px;
    vertical-align: top;
    text-align: center;
    display: inline-block;
    margin: 20px;
    height: 250px;
}
.serv-icon-wealth {
    background-color: #071e44;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    text-align: center;
    margin: auto;
    margin-top: -60px;
}
.serv-img-wealth {
    width: 35px;
    height: auto;
    margin-top: 10px;
}
.serv-icon-borders-wealth {
    width: 70px;
    margin: auto;
    background-color: white;
}
.serv-title-wealth {
    color: #071e44;
    font-size: 25px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}
.serv-desc-wealth {
    color: rgb(64,64,64);
    font-size: 18px;
    line-height: 25px;
}

/*Disclaimer*/

.disclaimer {
    text-align: center;
    color: white;
    margin: 0 auto 0 auto;
    width: 90%;
}
.disc-wealth {
    background-color: #071e44;
    padding-bottom: 20px;
}
.disc-sip {
    background-color: #4a25a9;
    padding-bottom: 20px;
}
.disclaimer-title {
    font-size: small;
    margin-bottom: 10px;
}
.disclaimer-text {
    font-size: small;
}

/*Diferencia*/

.diferencia {
    color: rgb(64,64,64);
    text-align: center;
}
.dif-container {
    background-color: rgba(7,30,68,0.1);
    padding-top: 20px;
    margin-top: 60px;
}
.dif-title {
    font-size: 40px;
    color: rgb(64,64,64);
    margin-top: 80px;
    margin-left: 10%;
    font-weight: bold;
    border: solid 3px rgb(64,64,64);
    width: 600px;
    height: 100px;
    line-height: 100px;
    border-radius: 12px;
    text-align: center;
}
.dif-text-intro {
    font-size: 24px;
    font-weight: 500;
    width: 1000px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 30px;
    color: rgb(64,64,64);
}
.dif-wealth-azulito {
    color: #071e44;
    font-weight: 900;
}
.dif-cont::after {
  content: "";
  clear: both;
  display: table;
}
.dif-sip-title {
    font-size: 40px;
    color: #4a25a9;
    margin-bottom: 60px;
    margin-top: 80px;
    margin-left: 10%;
    font-weight: bold;
    border: solid 3px #4a25a9;
    width: 650px;
    height: 100px;
    line-height: 100px;
    border-radius: 12px;
    text-align: center;
}
.dif-sip-contenido {
    text-align: center;
    padding-bottom: 40px;
}
.dif-wealth-contenido {
    text-align: center;
    padding-bottom: 40px;
}
.dif-sip-shape {
    border: solid 2px #4a25a9;
    border-radius: 100px;
    width: 500px;
    height: 150px;
    vertical-align: top;
    display: inline-block;
    margin: 40px 80px;
    padding: 20px;
}
.dif-wealth-shape {
    border: solid 2px #071e44;
    border-radius: 100px;
    width: 600px;
    height: 170px;
    vertical-align: top;
    display: inline-block;
    margin: 40px 20px;
    padding: 20px;
}
.dif-sip-sub {
    font-size: 20px;
    color: #4a25a9;
    font-weight: bold;
    width: 400px;
    border-bottom: solid 2px #4a25a9;
    margin: auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.dif-wealth-sub {
    font-size: 20px;
    color: #071e44;
    font-weight: bold;
    width: 400px;
    border-bottom: solid 2px #071e44;
    margin: auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.dif-sip-text {
    font-size: 18px;
    width: 450px;
    margin: auto;
}
.dif-wealth-text {
    font-size: 18px;
    width: 480px;
    margin: auto;
}

/*Footer*/

footer {
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: #4a25a9;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    height: 300px;
    color: white;
    padding: 50px 0 300px 0;
    font-size: 13px;
    line-height: 20px;
}
.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col {
    flex-basis: 28%;
    padding: 10px;
}
.col-sip {
    font-size: 26px;
    font-weight: bold;
    width: 500px;
}
.col-2 {
    font-size: 20px;
    margin-bottom: 5px;
}
.footlinks {
    font-size: 20px;
}
.footlogo {
    width: 200px;
    margin: auto;
}
.col h3 {
    width: fit-content;
    margin-top: 30px;
    margin-bottom: 40px;
    position: relative;
    font-size: 24px;
    border-bottom: solid 2px white;
}
.col h4 {
    font-size: 20px;
}
.email {
    width: fit-content;
    border-bottom: 1px solid white;
    margin: 20px 0;
    font-size: 20px;
}
.footlinks li {
    list-style: none;
    margin-bottom: 12px;
}
.footlinks li a {
    text-decoration: none;
    color: white;
} 
.footlinks li a:hover {
    border-bottom: solid 2px white;
}

/*Timeline Simple Investment Partners*/

.timeline-container {
    padding: 50px 0 200px 0;
    margin: 0;
    background-color: white;
}
.timeline-title {
    position: relative;
    margin-bottom: 200px;
    font-size: 42px;
    font-weight: 600;
    margin-left: 40px;
}
.timeline-sip {
    color: #4a25a9;
    font-weight: 800;
}
.timeline ul {
    margin-top: 30px;
    display: flex;
    list-style: none;
    padding: 0 50px 0 50px;
    justify-content: center;
    align-items: center;
}
.timeline li {
    position: relative;
}
.timeline li p {
    transform: translateY(-10px);
    opacity: 0;
    padding: 0 40px;
    transition: 1.5s;
    text-align: center;
    color: rgb(64,64,64);
    font-size: 20px;
}
.date {
    opacity: 0;
    transition: 1.5s;
    font-size: 32px;
    position: absolute;
    top: -110px;
    color: #4a25a9;
    font-weight: bolder;
}
#date-1 {
    left: 40%;
}

#date-2 {
    left: 33%;
}

#date-3 {
    left: 36%;
}
.timeline-point {
    border: none;
    position: absolute;
    border-radius: 50%;
    background: rgb(228, 228, 228);
    width: 15px;
    height: 15px;
    top: -40px;
    left: 50%;
    transition: 1.5s ease;
}
.timeline-line{
    background: rgb(228, 228, 228);
    width: 100%;
    height: 4px;
    border-radius: 12px;
    position: relative;
}
.timeline-innerline {
    position: absolute;
    background: #4a25a9;
    width: 0%;
    height: 4px;
    top: 0%;
    left: 0%;
    transition: 1s linear;
    border-radius: 999px;
}

/*Process Line SIP*/

.como-hacemos {
    background-color: rgba(74, 37, 169, 0.1);
    padding-bottom: 40px;
    padding-top: 80px;
}
.process-line {
    position: relative;
    height: 680px;
    margin-bottom: 200px;
    text-align: center;
}
.section-line {
    height: 100%;
    width: 5px;
    background-color: white;
    position: absolute;
    left: 50%;
}
.section-line-2 {
    height: 100%;
    width: 5px;
    background-color: #4a25a9;
    position: absolute;
    left: 50%;
    view-timeline-name: --lineScale;
    animation-timeline: --lineScale;
    animation-name: scale;
    animation-duration: 1ms;
    transform-origin: top;
    animation-range: 10% 85%;
    transform: scaleY(0);
    animation-fill-mode: forwards;
}
.como-icon {
    border: none;
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -22px;
}
.como-icon-back-w {
    border: none;
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: -22px;
    background-color: white;
}
.como-icon-back-fill {
    border: none;
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: -22px;
    background-color: #4a25a9;
    view-timeline-name: --lineScale;
    animation-timeline: --lineScale;
    animation-name: scale;
    animation-duration: 1ms;
    transform-origin: top;
    animation-range: 0% 10%;
    animation-fill-mode: forwards;
    transform: scaleY(0);
}
.como-icon-back-w-2 {
    border: none;
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: -22px;
    background-color: white;
    top: 240px;
}
.como-icon-back-fill-2 {
    border: none;
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: -22px;
    background-color: #4a25a9;
    view-timeline-name: --lineScale;
    animation-timeline: --lineScale;
    animation-name: scale;
    animation-duration: 1ms;
    transform-origin: top;
    animation-range: 18% 23%;
    transform: scaleY(0);
    top: 240px;
    animation-fill-mode: forwards;
}
.como-icon-back-w-3 {
    border: none;
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: -22px;
    background-color: white;
    top: 460px;
}
.como-icon-back-fill-3 {
    border: none;
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: -22px;
    background-color: #4a25a9;
    view-timeline-name: --lineScale;
    animation-timeline: --lineScale;
    animation-name: scale;
    animation-duration: 1ms;
    transform-origin: top;
    animation-range: 15% 20%;
    top: 460px;
    transform: scaleY(0);
    animation-fill-mode: forwards;
}
.como-icon-back-w-4 {
    border: none;
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: -22px;
    background-color: white;
    top: 660px;
}
.como-icon-back-fill-4 {
    border: none;
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: -22px;
    background-color: #4a25a9;
    view-timeline-name: --lineScale;
    animation-timeline: --lineScale;
    animation-name: scale;
    animation-duration: 1ms;
    transform-origin: top;
    animation-range: 40% 45%;
    top: 660px;
    transform: scaleY(0);
    animation-fill-mode: forwards;
}
#icon-1 {
    background-image: url(../img/data_W.png);
}
#icon-2 {
    background-image: url(../img/sketch_W.png);
    top: 240px;
}
#icon-3 {
    background-image: url(../img/follow_W.png);
    top: 460px;
}
#icon-4 {
    background-image: url(../img/check-list_W.png);
    top: 660px;
}
.como-rect {
    background-color: white;
    width: 500px;
    padding: 20px;
    text-align: center;
    position: absolute;
    border-radius: 25px;
    border: solid 2px #4a25a9;
    z-index: 2;
}
.left {
    left: 10%;
}
.left-1 {
    top: -90px;
}
.right-1 {
    top: 140px;
}
.left-2 {
    top: 400px;
}
.right-2 {
    top: 580px;
}
.right {
    left: 57%;
}
.como-title {
    position: relative;
    margin-bottom: 150px;
    font-size: 40px;
    color: rgb(64,64,64);
    margin-left: 60%;
    font-weight: bold;
    border: solid 3px rgb(64,64,64);
    width: 500px;
    height: 100px;
    line-height: 100px;
    border-radius: 12px;
    text-align: center;
}
.como-sub {
    color: #4a25a9;
    font-size: 28px;
    font-weight: bold;
}
.como-text {
    color: rgb(64,64,64);
    font-size: 22px;
    margin-top: 20px;
}
.process-line li {
    text-align: center;
}

/*Por que SIP*/

.por-que-container {
    background-color: rgba(74, 37, 169, 0.1);
    padding-top: 20px;
    text-align: center;
}
.por-que-container-wealth {
    background-color: white;
    padding-top: 20px;
    text-align: center;
}
.por-que-title {
    font-size: 40px;
    color: rgb(64,64,64);
    margin-bottom: 60px;
    margin-top: 80px;
    margin-left: 60%;
    font-weight: bold;
    border: solid 3px rgb(64,64,64);
    width: 400px;
    height: 100px;
    line-height: 100px;
    border-radius: 12px;
    text-align: center;
}
.por-que-title-wealth {
    font-size: 40px;
    color: #071e44;
    margin-bottom: 60px;
    margin-top: 80px;
    margin-left: 60%;
    font-weight: bold;
    border: solid 3px #071e44;
    width: 500px;
    height: 100px;
    line-height: 100px;
    border-radius: 12px;
    text-align: center;
}
.por-que-sip-moradito {
    color: #4a25a9;
}
.por-que-wealth-azulito {
    color: #071e44;
}
.por-que-shape {
    border: solid 2px #4a25a9;
    border-radius: 100px;
    width: 500px;
    height: 100px;
    vertical-align: top;
    display: inline-block;
    margin: 30px;
}
.por-que-shape-wealth {
    border: solid 2px #071e44;
    border-radius: 100px;
    width: 500px;
    height: 100px;
    vertical-align: top;
    display: inline-block;
    margin: 30px;
}
.por-que-sub-cont {
    width: 500px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.por-que-icon {
    width: 20%;
    text-align: center;
}
.por-que-img {
    width: 55px;
}
.por-que-texto {
    width: 70%;
    font-size: 18px;
    line-height: 25px;
    text-align: left;
}

@media (max-width: 767px) {
    * {
        max-width: 100%;
    }

    /*Index*/
    header .logo {
        margin: -1rem;
        height: 5rem;
    }
    .intro-2{
        display: none;
    }

    .title {
        font-size: 2rem;
        width: 90vw;
    }
    .subtitle {
        font-size: 1.3rem;
        width: 90vw;
        margin: auto;
    }

    .purple-filter {
        height: fit-content;
    }
    .columns {
        float: none;
        margin-bottom: 5rem;
        width: 100%;
        height: fit-content;
    }
    .logos-section-logo {
        height: 100vw;
        margin-top: 0;
    }
    .textblock {
        width: 100vw;
        margin-top: -15rem;
        font-size: 1.5rem;
        padding-bottom: 0;
        margin-bottom: 2rem;
        height: fit-content;
    }
    .mas-info {
        text-align: center;
        width: 100vw;
    }
    .butt-1 {
        margin: auto;
    }
    #logos-wealth {
        margin-top: 150px;
    }

    .timeline-title {
        width: 90vw;
        margin: auto;
        text-align: center;
        margin-bottom: 5rem;
    }
    .timeline-line {
        display: none;
    }
    .timeline-point {
        display: none;
    }
    .timeline-innerline {
        display: none;
    }
    .timeline ul {
        display: block;
    }
    .timeline li p {
        padding: 0;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .timeline li {
        text-align: center;
    }
    .date {
        position: relative;
        top: 0;
        width: 90vw;
        margin: auto;
    }
    #date-1 {
        left: unset;
    }
    #date-2 {
        left: auto;
    }
    #date-3 {
        left: 0;
    }
    .timeline-container {
        padding-bottom: 5rem;
    }
/*
    .timeline ul {
        flex-direction: column;
    }
    .timeline li p {
        padding: 40px 0 40px 0;
        font-size: 1rem;
    }
    .timeline-innerline {
        height: 0%;
        width: 4px;
    }
    .timeline-line {
        height: 100%;
        width: 4px;
        justify-self: end;
    }
    .timeline-point {
        width: 8px;
        height: 8px;
        top: 40px;
        left: -56px;
    }
    .timeline {
        display: grid;
        grid-template-columns: 50% auto;
        justify-content: center;
    }
    .timeline-title {
        margin-bottom: 5rem;
    }
    #date-1 {
        left: -200px;
    }
    #date-2 {
        left: -250px;
    }
    #date-3 {
        left: -250px;
    }
    .date {
        top: 1.5rem;
        font-size: 2rem;
    }
    .timeline-container {
        padding-bottom: 2rem;
    }
*/
    footer {
        height: 38rem;
        overflow-y: hidden;
    }
    .row {
        display: block;
    }
    .col {
        flex-basis: 100%;
    }
    .col-sip {
        line-height: 2rem;
    }

    /*SIP*/
    #sip-logo {
        height: 5rem;
    }

    .sip-logo-w {
        height: 100vw;
        margin-top: 5rem;
    }
    .portada-texto {
        width: 100vw;
        padding: 0 1rem;
        font-size: 1.5rem;
    }

    .title-sobre {
        margin: auto;
        margin-bottom: 2rem;
        width: 90vw;
    }
    .texto-sobre-nosotros {
        font-size: 1.5rem;
        padding: 0 1rem;
    }

    .title-servicios {
        margin: 4rem auto;
        width: 90vw;
    }
    .serv-rect {
        width: 90vw;
        height: fit-content;
    }

    .por-que-title {
        margin: 4rem auto;
        width: 90vw;
    }
    .por-que-shape {
        width: 85vw;
        height: fit-content;
        padding: 0.5rem;
    }
    .por-que-sub-cont {
        height: fit-content;
    }
    .por-que-texto {
        text-align: center;
    }

    .dif-sip-title {
        width: 90vw;
        height: fit-content;
        margin: 4rem auto;
        line-height: 3rem;
    }
    .dif-sip-shape {
        margin: 2rem auto;
        width: 90vw;
        height: fit-content;
    }

    .como-title {
        margin: 1rem auto;
        width: 90vw;
        height: fit-content;
        line-height: 3rem;
    }
    .como-icon-back-w, .como-icon-back-w-2, .como-icon-back-w-3, .como-icon-back-w-4 {
        display: none;
    }
    .como-icon-back-fill, .como-icon-back-fill-2, .como-icon-back-fill-3, .como-icon-back-fill-4 {
        display: none;
    }
    .como-icon, .section-line, .section-line-2 {
        display: none;
    }
    .como-rect{
        top: 0;
        left: 0;
        position: relative;
        margin: 4rem auto;
        width: 90vw;
        height: fit-content;
    }
    .como-hacemos {
        padding-bottom: calc(100rem - 220vw);
        position: relative;
    }

    .logos {
        height: 10rem;
        padding: 0 0 2rem 0;
    }
    .logos-slide img {
        height: 5vw;
        margin: 4rem 2rem;
    }
    .logos-slide {
        overflow: hidden;
    }
    .logos:before, .logos::after {
        height: 5rem;
        top: 3rem;
    }

    /*WEALTH*/
    .por-que-title-wealth {
        margin: 4rem auto;
        width: 90vw;
        height: fit-content;
        line-height: 3rem;
    }
    .por-que-shape-wealth {
        width: 85vw;
        height: fit-content;
        padding: 0.5rem;
    }

    .dif-title {
        width: 90vw;
        height: fit-content;
        margin: 4rem auto;
        line-height: 3rem;
    }
    .dif-wealth-shape {
        margin: 2rem auto;
        width: 90vw;
        height: fit-content;
    }

    .title-servicios-wealth {
        margin: 4rem auto;
        width: 90vw;
    }
    .serv-rect-wealth {
        width: 90vw;
        height: fit-content;
    }

}

@media (min-width: 768px) and (max-width: 1023px) {

}

@media (min-width: 1024px) {
    
}
